<configuration>

    <property name="defaultPattern"
              value="%date  %highlight(%-5level)  %-84([%thread] %cyan(%logger{1}))  %msg %throwable{5}%n"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${manticore.config.path}/logs/manticore.log</file>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${manticore.config.path}/logs/manticore.%d{yyyy-MM-dd}.log</FileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${defaultPattern}</Pattern>
        </layout>

    </appender>

    <appender name="HOOK_DATA_PARSER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${manticore.config.path}/logs/hook_data_parser.log</file>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>500MB</maxFileSize>
        </triggeringPolicy>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${manticore.config.path}/logs/hook_data_parser.%d{yyyy-MM-dd}.log</FileNamePattern>

            <!-- keep 5 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${defaultPattern}</Pattern>
        </layout>

    </appender>


    <logger name="com.panbet.manticore" level="DEBUG">
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <logger name="com.panbet.manticore.model.hook.data.HookDataJsonParser" level="TRACE" additivity="false">
        <appender-ref ref="HOOK_DATA_PARSER"/>
    </logger>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>

</configuration>